.productdiv{
    width: 100%;
    background-color: transparent;
    /* padding: 20px 30px 30px 30px; */
    /* padding-top: 20px; */
    min-height: 100%;
}
.productdetail1{
    width: 100%;
    height: max-content;
    min-height: 530px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #F9E8D3;
    text-align: center;
}
.ptext{
    font-size: 30px;
}
.stext{
    font-size: 20px;
    text-decoration: line-through;
}
.distext{
    font-size: 25px;
}
.productmaindetails{
    border: #FCF1E2 solid 0px;
    border-left-width: 4px;
    width: 60%;
    right: 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.productimgdiv{
    padding-top: 30px;
    width: 40%;
    height: 500px;
    text-align: center;
}
.productimage{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}
.wishlistbutton{
    font-size: 100px;
    position: absolute;
    top: 5px;
    left: 10px;
    background-color: transparent;
    border: none;
}
.productdetails{
    right: 0%;
    width: auto;
    padding: 20px;
}
.productname{
    font-size: xx-large;
}

.productdescription{
    text-align: left;
    font-size: large;
    padding: 20px 100px 20px 100px;
}

.productdetail2{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    font-size: x-large;
}

.productoptions{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.productbutton{
    margin: 5px;
    font-size: larger;
    color: white;
    border: none;
    background-color: #a0481c;
    padding: 10px 20px;
    transition: 1s ease;
}
.productbutton:hover{
    background-color:aquamarine;
    color: #a0481c;
}

@media (max-width:1100px){
    .ptext{
        font-size: 20px;
    }
    .stext{
        font-size: 10px;
    }
    .distext{
        font-size: 15px;
    }
    .wishlistbutton{
        font-size: 40px;
    }
    .productname{
        font-size: large;
        font-weight: bold;
    }
    .productdetail2{
        font-size: medium;
        padding: 10px;
    }
    .productdescription{
        padding: 20px;
        font-size: medium;
    }
    .productdetail1{
        text-align: left;
    }
    .productmaindetails{
        text-align: left;
    }
}

@media (max-width:800px){
    .ptext{
        font-size: 20px;
    }
    .stext{
        font-size: 10px;
    }
    .distext{
        font-size: 15px;
    }
    .productdetail1{
        flex-direction: column;
        min-height: 300px;
        text-align: left;
    }
    .productimgdiv{
        width: 100%;
        padding: 10px;
        height: 380px;
    }
    .productmaindetails{
        width: 100%;
        right: auto;
        border: none;
    }
    .wishlistbutton{
        font-size: 40px;
    }
    .productname{
        font-size: large;
        font-weight: bold;
    }
    .productdetail2{
        font-size: medium;
        padding: 10px;
    }
    .productdescription{
        padding: 20px;
        font-size: medium;
    }
}