{% extends 'base.html' %}
{% block title %}Change password{% endblock title %}
{% block css %}/static/css/signin.css{% endblock css %}

{% block body %}
<div class="loginformdiv">
    <form action="#" class="loginform" name="loginform" id="loginform" onsubmit="return validateForm()" method="POST">
        {% csrf_token %}
        <br><br><br>
        <h1>Change password</h1>
        <input type="password" class="logininput" required placeholder="New password" name="password"><br><br><br>
        <input type="password" class="logininput" required placeholder="Password again" name="password2"><br><br><br>
        <button type="submit">Change password</button><br><br><br>
    </form>
</div>
<script>
    function validateForm() {
        var x = document.forms["loginform"]["password"].value;
        var y = document.forms["loginform"]["password2"].value;
        if (x !== y){
            alert("Passsword should match!\n");
            return false;
        }
        if (x == y) {
            if (x.length<8){
                alert("Password must be greater than 8 digits.");
                return false;
            }
            return true;
        }
        else{
            return false;
        }
      }
</script>
{% endblock body %}