{% extends 'base.html' %} {% block title %}Home{% endblock title %} 
{% block css%}/static/css/signin.css{% endblock css %} 
{% block body %}
<div class="loginformdiv">
    <form action="/login/" class="loginform" method="POST">
        {% csrf_token %}
        <br><br><br>
        <h1>LOGIN</h1>
        <h4>Welcome back, it's nice to see you again!</h4>
        <p></p>
        <input type="text" class="logininput" required placeholder="Username or Email" name="username"><br><br>
        <input type="password" class="logininput" required placeholder="Password" name="password"><br><br><br>
        <button type="submit">LOG IN</button><br><br><br>
        <a href="/signup" style="color: #ec5c4f;">Register (New Account)</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/forgotpassword" style="color: black;">Forgot Password?</a>
    </form>
</div>
{% endblock body %} 
{% block javascript %}{% endblock javascript %}

    

